@use 'fonts';
@use 'topBanner';

@mixin mainFont {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include mainFont;
  font-size: 14px;
  line-height: 1.2;
  color: white;
  text-align: center;
}

/* Home-1. Header styles end*/ /* Home-1. Intro styles start*/
.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h4,
h5,
h6 {
  color: white;
  letter-spacing: 0.2px;
  text-align: center;
  font-style: normal;
}

#card-staff {
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
}

.content__slogan {
  font-size: 58px;
  font-weight: 800;
  line-height: 80px;
}

.content__mission {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/* Home-1. Intro styles end*/

.top-banner__buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

$btnFs: 14px;

.button {
  display: flex;
  padding: 10px 35px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 37px;
  font-size: $btnFs;
  font-style: normal;
  line-height: $btnFs * 2;
  letter-spacing: 0.2px;
  color: white;
  font-weight: 700;
}

@function invert($color, $amount: 100%) {
  $inverse: change-color($color, $hue: hue($color) + 180);
  @return mix($inverse, $color, $amount);
}

$primary-color: #ffa62b;

.button--primary {
  background-color: invert($primary-color, 10%);
  // background: var(--primary-color, #ffa62b);
}

.button--secondary {
  border: 1px solid var(--light-background-color, #fff);
  background-color: transparent;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-position: center;
  }

  .top-banner__header {
    flex-direction: column;
    margin-top: 20px;
  }

  .header__nav {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .header__actions {
    margin: 0 auto;
  }

  .nav__link {
    font-size: 12px;
  }

  .top-banner__content {
    gap: 20px;
  }

  .content__slogan {
    font-size: 25px;
    line-height: 40px;
  }

  .content__mission {
    font-size: 10px;
    line-height: 20px;
  }

  .button {
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Home-2. Strong Points start*/

.customer-feedback {
  .grid-card {
    border-radius: 5px;
    gap: 20px;
    padding: 30px 35px;
  }
}
.strong-points,
.customer-feedback,
.our-team,
.video-presentation {
  font-family: 'Montserrat';
  background-color: #252b42;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.strong-points__content,
.feedback__content,
.video-presentation__content {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  margin: 145px 0 10px 0;
}

.content__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: center;
}

.grid-container {
  display: grid;
  align-content: space-around;
  grid-template-columns: auto auto auto;
  gap: 30px;
  padding: 50px 0 80px 0;
}

.grid-card {
  background-color: white;
  border: 1px solid #e8e8e8;
  display: flex;
  max-width: 328px;
  padding: 35px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.card__title {
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.card__text {
  color: #737373;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: justify;
}

.card-icon {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}

/* Home-2. Strong Points end*/

/* Home-4. What Clients Say start*/

.content__general-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  margin: 80px 0 10px 0;
}

.stars-rating {
  display: flex;
}

.star {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

.empty-stars {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

%client-text {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  display: flex;
  text-decoration: none;
}

.client__name {
  @extend %client-text;
  color: #ffa62b;
}

.client__job {
  @extend %client-text;
  color: #252b42;
}

.client-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.client__photo {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid var(--muted-color, #bdbdbd);
  background: lightgray 50% / cover no-repeat;
}

/* Home-4. What Clients Say end*/

/* Home-5. Meet our team start*/
.staff__content {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.staff__social-media {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.social-media {
  width: 24px;
  height: 24px;
  padding: 2px;
}

$facebook: #3b5998;
$instagram: #fccc63;
$twitter: #4099ff;
$colors: (
  'facebook': $facebook,
  'instagram': $instagram,
  'twitter': $twitter
);
@each $key, $color in $colors {
  .social-media-#{$key} {
    background-color: $color;
  }
}

.staff__name {
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: justify;
}

#ceo {
  text-transform: uppercase;
}

#gradient-background {
  background: linear-gradient(rgba(37, 43, 66, 1), rgb(11, 75, 92));
}

.staff__job {
  color: #737373;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: justify;
  margin: 5px 0 5px 0;
}

/* Home-5. Meet our team end*/
/* Home-3. Video presectation start*/

.video-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.video__play-button {
  position: absolute;
  border-radius: 50%;
  background: #00a0c1;
  cursor: pointer;
}

.video__cover {
  position: relative;
  margin: 50px 0 80px 0;
  width: 875px;
  height: 440px;
  flex-shrink: 0;
}

#KMarketer-video {
  display: none;
}

/* Home-3. Video presectation end*/

/* Home-6. Contact Form start */

.contact-us {
  font-family: 'Montserrat';
  background-image: url('/img/contact-form-cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 120px;
  background-position-x: center;
}

.contact-us__content {
  margin-right: auto;
}

.contact-us__heading {
  margin-bottom: 40px;
}

.contact-us__upper-header {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  margin-top: 90px;
}

.contact-us__header {
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2px;
  font-size: 40px;
  gap: 40px;
  text-align: left;
}

.contact-us__form {
  width: 600px;
}

.contact-us__grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.contact-us__grid-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

:root {
  --success-color: #ffa62b;
  --error-color: #7e0606;
}

.contact-us__grid-content.success .form-result {
  color: var(--success-color);
}

.contact-us__grid-content.error .form-result {
  color: var(--error-color);
}

.contact-us__grid-content.success .form-content {
  border: 0.12rem solid var(--success-color);
}

.contact-us__grid-content.error .form-content {
  border: 0.12rem solid var(--error-color);
}

.form-content,
.form-select,
.form-message,
.form-url {
  display: flex;
  width: 100%;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid var(--muted-color, #bdbdbd);
  background: #f9f9f9;
  color: var(--text-color, #252b42);
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.form-content,
.form-select {
  height: 50px;
}

.form-message {
  resize: none;
  height: 140px;
  margin-top: 20px;
}

.form-result {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.1px;
  text-align: left;
}

.form-button {
  display: flex;
  padding: 15px 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 90px;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: white;
  font-weight: 700;
  background: darken(#ffa62b, 30%);
  border: none;
  cursor: pointer;
}

/* Home-6. Contact Form end */

.carousel {
  position: relative;
  width: 1060px;
  padding: 0 50px;

  &__wrapper {
    width: 960px;
    overflow: hidden;
  }

  &__list {
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    display: flex;
    gap: 30px;
  }
  &__item {
    width: 300px;
  }

  .arrow {
    position: absolute;
    top: calc(50% - 13px);
    padding: 5px;
    background: #ddd;
    border-radius: 50%;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;

    &:focus {
      outline: none;
    }
    &:hover {
      background: #ccc;
      cursor: pointer;
    }

    &--prev {
      left: 7px;
    }

    &--next {
      right: 7px;
    }
  }
}

//==================
// Swiper:

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
